.content {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }
    
.content .image {
    margin: 1rem auto;
    width: 100%;
    max-width: 600px;
}
  